body {
  margin: 0;
  min-height: 100%;
  padding: 0;
  /* background-image: url("./imgs/butcher_photo.jpg"); */
  background-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --nav-size: 60px;
  --text-color: #242526;
  font-family: Roboto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.hero-image {
  background-image: url("./imgs/butcher_photo.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 700px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navbar {
  height: var(--nav-size);
  padding: 0;
  background-color: #1b262b;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
}

.navlink {
  color: #edf1f2;
  font-size: 1.5em;
  display: block;
  text-align: center;
  padding: 15px 15px;
}

.navlink:hover {
  background-color: #111;
}

.business-heading {
  margin-left: 0.2em;
  margin-bottom: 0;
  font-weight: 700;
  font-family: Bentham;
  font-size: 6em;
  color: #111;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: start;
  align-self: end;
  text-align: start;
}

.home-information {
  margin-top: 2em;
  margin-bottom: 1em;
  display: grid;
  /* grid-template-columns: (auto-fit, minmax(320px, 1fr 1fr 1fr)); */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "info opening"
    "info opening"
    "info contact";
  column-gap: normal;
}

@media only screen and (max-width: 600px) {
  .home-information {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
      "info"
      "opening"
      "contact";
    row-gap: 1em;
  }
}

.opening-info {
  grid-area: info;
  line-height: 1.5;
  padding-left: 1em;
  padding-right: 1em;
  text-align: start;
  font-family: Raleway;
}

.opening-times {
  grid-area: opening;
  justify-self: center;
  align-self: center;
}

.contact-info {
  grid-area: contact;
  justify-self: center;
  align-self: center;
}

.opening-times th,
td {
  padding: 5px 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#intro-para {
  font-weight: normal;
  font-size: 1.5em;
}
